/* A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
 */
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

@charset 'UTF-8';
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1')
format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1')
format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

.sign_up{
	margin-top:3.5em;
}
.sign_up p{
	font-size:16px;
	font-weight:500;
	color:#f7f7f7;
	margin-bottom:2.5em;
}
.sign_up p span{
	color:#FFF;
   font-weight:bold;
   text-transform:uppercase;
   background:#ffce54;
   padding:5px 10px;
   border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.sign_up p span:hover {
	background:#ffee55;
	cursor:pointer;
}
.sign_up input[type="submit"]{
	  background: #77c344;
	  display: inline;
	  border:none;
	  padding:1px 15px;
	  font-size:12px;
	  font-family: 'Ubuntu', sans-serif;
	  color: #FFF;
	  margin: 0;
	  text-decoration: none;
	  cursor:pointer;
	  outline:none;
	  border-radius:3px;
	  -webkit-border-radius:3px;
	  -moz-border-radius:3px;
	  -o-border-radius:3px;
	 -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      text-transform:uppercase;
       margin-left:10px;
       float:right;
}
.sign_up input[type="submit"]:hover{
	    background:#52A21C;
}

@media (max-width:1366px){

}
@media (max-width:1024px){

}
@media (max-width:800px){
	.sign_up,.sign_up p {
		margin-top:1.5em;
	}
}
@media (max-width:640px){
}
@media (max-width:480px){
	.sign_up, .sign_up p{
		margin-top:8px;
		margin-bottom:1em;
		font-size:14px;
	}
	.sign_up input[type="submit"]{
		padding:10px 14px;
		font-size:14px;
	}
}
@media (max-width:320px){
}
